/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        /* Originally ST_MACRO_0: Ctrl+I, I, D, Ctrl+I, . */
        macro_0: macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp I>
                , <&macro_release &kp LCTRL>
                , <&macro_wait_time 100>
                , <&macro_tap &kp I>
                , <&macro_wait_time 100>
                , <&macro_tap &kp D>
                , <&macro_wait_time 100>
                , <&macro_press &kp LCTRL>
                , <&macro_tap &kp I>
                , <&macro_release &kp LCTRL>
                , <&macro_wait_time 100>
                , <&macro_tap &kp DOT>;
        };
        /* Originally ST_MACRO_1: Ctrl+', Ctrl+' */
        macro_1: macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp SQT>
                , <&macro_release &kp LCTRL>
                , <&macro_wait_time 100>
                , <&macro_press &kp LCTRL>
                , <&macro_tap &kp SQT>
                , <&macro_release &kp LCTRL>;
        };
    };

    behaviors {
        /* TD(DANCE_0): Tap for ESC, Hold for TAB */
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&kp TAB>;
        };
        /* TD(DANCE_1): Tap for -, Double tap for = */
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp EQUAL>;
        };

        /* Custom behavior for Top Right key: Tap = BSPC, Hold = Ctrl+BSPC */
        ht_bspc: hold_tap_bspc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        /* Custom behavior for Rightmost Row 1: Tap = Quote (SQT), Hold = Delete (DEL) */
        ht_qt_del: hold_tap_quote_delete {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        /* Custom behavior for Middle Row 1: Tap = VolDown, Hold = Mute */
        ht_vol: hold_tap_volume {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        /* Studio Unlock: ESC (0) + BSPC (11) */
        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 11>;
            bindings = <&studio_unlock>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* Top Right: Tap=BSPC, Hold=Ctrl+BSPC using new custom behavior */
                &td0 &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &ht_bspc LC(BSPC) BSPC
                &kp TAB &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &mt RIGHT_GUI SEMICOLON &ht_qt_del DELETE SQT
                &kp LEFT_SHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &mt RIGHT_SHIFT ENTER
                &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_GUI &trans &tog 1 &kp SPACE &none &tog 2 &kp LEFT &kp DOWN &kp UP &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
                &kp ESCAPE &kp EXCL &kp AT &kp LBRC &kp RBRC &kp PIPE &kp C_VOLUME_UP &kp N7 &kp N8 &kp N9 &kp KP_ASTERISK &trans
                &trans &kp HASH &kp DLLR &kp LPAR &kp RPAR &kp BACKSLASH &ht_vol C_MUTE C_VOL_DN &kp N4 &kp N5 &kp N6 &kp KP_PLUS &trans
                &trans &kp COMMA &kp CARET &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp TILDE &kp AMPS &kp N1 &kp N2 &kp N3 &kp KP_SLASH &trans
                &trans &trans &trans &kp PRCNT &trans &trans &none &kp N0 &kp KP_DOT &kp KP_EQUAL &td1 &trans
            >;
        };

        raise_layer {
            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &to 4 &trans &trans &none &trans &kp HOME &kp PAGE_DOWN &kp PAGE_UP &kp END
            >;
        };

        adjust_layer {
            bindings = <
                &trans &trans &kp LC(W) &kp LC(LSFT(E)) &trans &kp LA(LC(T)) &trans &kp LC(LSFT(W)) &macro_0 &kp LA(LC(O)) &kp LC(LSFT(P)) &trans
                &kp DEL &kp LC(LSFT(A)) &kp LC(LSFT(S)) &kp LA(LC(D)) &kp LA(LC(F)) &trans &kp LA(LC(H)) &trans &trans &kp LC(LSFT(L)) &trans &trans
                &trans &trans &kp LA(LC(X)) &trans &kp LC(LSFT(V)) &kp LC(LSFT(F5)) &kp LC(LSFT(N)) &trans &trans &kp LC(LSFT(DOT)) &trans &macro_1
                &trans &trans &trans &trans &trans &trans &none &trans &kp HOME &kp PG_DN &kp PG_UP &kp END
            >;
        };

        layer_4 {
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &kp LEFT_SHIFT &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &kp LEFT_CONTROL &kp LEFT_ALT &trans &to 0 &trans &trans &none &trans &trans &trans &trans &trans
            >;
        };
    };
};
